a {
    text-decoration: none;
}

h3 {
    padding-bottom: 0;
    text-align: center;
}
input {
    display: block;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
md-input-container {
    padding-bottom: 12px;
}
md-toolbar a.md-button.active {
    background: rgba(158, 158, 158, 0.4);
}
/* categories */
.category-item {
    margin: 20px 0;
    border: 1px solid #3F51B5;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.category-item a {
    display: block;
    padding: 10px 0;
    color: #696969;
}
.category-item a.active {
    color: #fff;
    background: #3F51B5;
}
.category-item a:not(.active):hover {
    text-decoration: none;
    background: rgba(158, 158, 158, 0.2);
}
.category-item .active:focus {
    text-decoration: none;
    background: #3F51B5;
}
/* orders */
.order-item {
    display: block;
    margin: 20px 0;
    border: 1px solid #3F51B5;
    border-radius: 4px;
    cursor: pointer;
}
.order-item.active {
    color: #fff;
    background: #3F51B5;
}
.order-item:not(.active):hover {
    text-decoration: none;
    background: rgba(158, 158, 158, 0.2);
}
.order-item .active:focus {
    text-decoration: none;
    background: #3F51B5;
}
.order-item p {
    color: #000;
    padding: 0 15px;
}
.order-item.active p {
    color: #fff;
}
/* order directive */
order {
    display: block;
    margin: 20px 0;
    border: 1px solid #3F51B5;
    border-radius: 4px;
}
order p {
    padding: 0 15px;
}