<div class="row row-title">
    <div class="col-md-4">
        <h4>Select category</h4>           
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="search/filter" ng-model="query" />
    </div>
    <div class="col-md-4">
        <h4>Order details</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="category-item" ng-repeat="category in ::categories">
            <a ui-sref="categories.orders({categoryId:category.id})" ui-sref-active="active">{{category.name}}</a>
        </div>
    </div>
    <div ui-view></div>
</div>    

